<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-content">
            <div class="comment-author">{{ comment.student.username }}</a></div>
            <div class="comment-body">
                {{ comment.book.title }}
            </div>
        </div>
        <div class="post-footer">
           {% if current_user.is_administrator() %}
           <a href="{{url_for('.return_book_confirm',book_id=comment.book.id,student_id=comment.student.id)}}">
                <span class="label label-danger">Confirm</span>
           </a>
           {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
